################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VRTeleportator/VRTeleportator/appsettings.Secret.json

VRTeleportator/\.vs/

VRTeleportator/VRTeleportator/obj/

VRTeleportator/VRTeleportator/bin/
